// Text Gradients
@mixin text-gradient-active-top-menu() {
  background-image: $gradient-active-top-menu-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin media($size) {
  $breakpoints: (
    "sm": $breakpoint-sm,
    "md": $breakpoint-md,
    "lg": $breakpoint-lg,
    "xl": $breakpoint-xl,
    "xxl": $breakpoint-xxl,
    "ld-sidebar-open": $breakpoint-lg,
  );

  $breakpoint: map-get($breakpoints, $size);

  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}
