// Colors
$color-charcoal: #3A4759;
$color-light-charcoal: #6E7A8A;
$color-darker-icon: #A9B2C3;
$color-icon: #D3D9E5;
$color-offwhite-blue: #FAFDFF;
$color-offwhite-grey: #F8FAFB;
$color-highlight-blue: #DAF2FE;
$color-light-blue: #4AB8FB;
$color-dark-blue: #1F62F2;
$color-red: #FF595E;
$color-light-purple: #9255E2;
$color-dark-purple: #6E00FF;
$color-elegant-themes1: #4A41EB;
$color-elegant-themes2: #521D92;
$color-pink: #E04BB9;
$color-green: #20DD95;
$color-white: #FFFFFF;
$color-new-black: #070A12;
$color-new-dark-grey: #1E263A;
$color-new-light-grey: #465164;

// Gradients
$gradient-shiny-dark-blue: radial-gradient(100% 100% at 42.37% 0%, #001AFF 0%, #004EC2 0.01%, #012193 15.63%, #02006D 32.29%, #060018 80.21%, #11000D 100%);
$gradient-shiny-light-blue: radial-gradient(100% 100% at 42.37% 0%, #7EC8FF 0.01%, #3794F7 15.63%, #2570C9 32.29%, #021C55 80.21%, #000000 100%);
$gradient-shiny-purple: radial-gradient(100% 100% at 42.37% 0%, #AB42AD 0.01%, #96177A 10.94%, #7E036B 20.83%, #6D0156 32.29%, #1C0056 80.21%, #000E3F 89.58%, #00011C 100%);
$gradient-circle-complete: conic-gradient(from 180deg at 50% 50%, #0641BF 0deg, #4AB8FB 116.25deg, #DAF2FE 183.75deg, #4AB8FB 249.37deg, #0641BF 360deg);
$gradient-circle-incomplete: conic-gradient(from 180deg at 50% 50%, #FFFFFF 0deg, #002A84 360deg);
$gradient-promotion1: linear-gradient(96.17deg, #4AB8FB 5.2%, #1F62F2 40.98%, #6E00FF 79.97%);
$gradient-promotion2: linear-gradient(96.73deg, #E04BB9 5.27%, #9255E2 35.66%, #6E00FF 63.78%, #1F62F2 92.35%);
$gradient-button-red: linear-gradient(180deg, #FF595E 14.71%, #A62125 85.29%);
$gradient-button-blue: linear-gradient(180deg, #009EFF 0%, #1A4AB2 56.77%);
$gradient-button-purple: linear-gradient(180deg, #D44BE0 14.71%, #4F1B93 88.24%);
$gradient-button-green: linear-gradient(180deg, #20DD95 14.71%, #0E787E 85.29%);

// Shadows
$shadow-shadow1: 0px 10px 20px rgba(15, 19, 44, 0.15);
$shadow-shadow1-hover: 0px 20px 40px rgba(15, 19, 44, 0.25);
$shadow-shadow2: 0px 15px 30px rgba(15, 19, 44, 0.15);
$shadow-shadow2-hover: 0px 30px 60px rgba(15, 19, 44, 0.25);

// Backdrop Filters
$backdrop-filter-background-blur: blur(10px);