.c-Link {
  color: inherit;
  text-decoration: underline $color-dark-blue;
  text-decoration-thickness: 5px;
  transition: text-decoration 1s;

  &:hover {
    color: inherit;
    background: linear-gradient(0deg, $color-dark-blue 0%, $color-dark-blue 65%, transparent 65%, transparent 100%);
    text-decoration: none $color-light-blue;
  }
}
