.dt-Top {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.dt-Button {
  @extend .bt-Button;
  @extend .bt-Button-blue;
}

.dt-Filter {
  //
}

.dt-Filter_Label {
  //
}

.dt-Filter_Input {
  background: $color-input;
  border-radius: 10px;
  border: none;
  color: $color-new-black;
  font-size: responsive(14px, 16px);
  max-width: 170px;
  padding: 10px 15px;

  &::placeholder {
    color: $color-charcoal;
  }
}

.dt-TableWrapper {
  overflow: auto;
}

.dt-Table {
  //
}

.dt-Cell {
  font-size: responsive(12px, 14px);
  text-align: left;
  padding: responsive(7.5px, 15px) responsive(2.5px, 5px);
}

.dt-HeaderCell {
  font-size: responsive(14px, 16px);
  font-weight: bold;
}
