.ft-Footer {
  background: $color-footer-black;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 15px;
}

.ft-Menu {
  display: flex;
  flex-direction: column;

  @include media("sm") {
    flex-direction: row;
  }
}

.ft-Menu_Item {
  padding: 0 10px;
  margin: 15px 0;
  position: relative;
  text-align: center;

  @include media("sm") {
    & + .ft-Menu_Item::before {
      content: "";
      display: inline-block;
      width: 1px;
      position: absolute;
      background: white;
      left: 0;
      top: 5px;
      height: 1em;
    }
  }
}

.ft-Menu_Item_Link {
  color: $color-white;
  font-size: $font-size-body-small;
  text-decoration: none;

  &:hover {
    @include text-gradient-active-top-menu();
  }
}

.ft-Copyright {
  display: inline-block;
  font-size: $font-size-body-small;
  font-style: italic;
  padding: 5px;
}
