// Fields list
.gf-Fields {
  display: grid;
  row-gap: 15px;
}

.gf-Field {
  display: grid;

  &-error {
    // border-left: $color-red solid 1px;
    // padding-left: 15px;
  }

  &-error .gf-Label::before {
    content: "✗";
    color: $color-red;
    padding: 0 3px;
  }

  &-hidden {
    display: none;
  }
}

.gf-Label {
  font-size: 20px;
}

.gf-SubLabel {
  font-size: 14px;
  font-style: italic;
}

.gf-Required {
  color: $color-red;
  margin-left: 3px;
}

.gf-InputContainer {
  &-complex {
    display: grid;
    grid-gap: 10px;
  }
}

.gf-Input {
  font-size: 16px;

  &[type="email"],
  &[type="number"],
  &[type="tel"],
  &[type="password"],
  &[type="text"] {
    border-radius: 10px;
    border: none;
    padding: 5px responsive(10px, 15px);
    width: 100%;
    color: $color-new-dark-grey;
  }
}

.gf-Select {
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 5px responsive(10px, 15px);
}

// #HACK: Override base rules from c-Content
.gf-Radio,
.gf-Checkbox {
  margin: 0 !important;
}

.gf-SelectOption {
  font-size: 16px;
}

.gf-Instruction {
  font-size: 14px;
  font-style: italic;
}

.gf-Description {
  &-consent {
    font-size: 14px;
    font-style: italic;
  }
}

.gf-Error {
  // background: darken($color: $color-textbox-black, $amount: 3%);
  background: transparentize($color: $color-red, $amount: 0.9);
  border-left: $color-red solid 1px;
  font-size: 14px;
  margin: 5px 0;
  padding: 5px 5px 5px 10px;
}

.gf-ErrorMessage {
  // background: darken($color: $color-textbox-black, $amount: 3%);
  background: transparentize($color: $color-red, $amount: 0.9);
  border-left: $color-red solid 1px;
  font-size: 14px;
  grid-column: 1 / -1;
  padding: 5px 5px 5px 10px;
  margin: 0 0 5px 0;

  &::before {
    content: "🠕 ";
  }
}

.gf-Submit {
  @extend .bt-Button;
}
