.glbl-MobileNav {
  overflow: hidden;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 0;

  &.is-Active {
    width: 100vh;
  }

  @include media('lg') {
    display: none !important;
  }
}

.glbl-MobileNav_Overlay {
  background: transparentize($color: $color-new-black, $amount: 0.2);
  height: 100%;
  width: 100%;
}

.glbl-MobileNav_Drawer {
  background: $color-new-black;
  border-right: 1px solid $color-new-dark-grey;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 250px;
  position: absolute;
  top: 0;
  left: -250px;

  // Grid
  display: grid;
  align-content: start;
}

.glbl-MobileNav.is-Active .glbl-MobileNav_Drawer {
  left: 0;
}

.glbl-MobileNav_Drawer_Top {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.glbl-MobileNav_Close {
  // Local variables
  $size: 25px;
  $width: 3px;

  cursor: pointer;
  display: inline-block;
  position: relative;
  width: $size;
  height: $size;
  
  &:before, &:after {
    content: '';
    background-color: $color-offwhite-blue;
    border-radius: $width / 2;
    height: $size;
    left: ($size - $width) / 2;
    position: absolute;
    width: $width;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}