.hd-Menu {
  display: none;
}

@include media("md") {
  .hd-Menu {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .hd-Menu > .menu-item {
    color: white;
    cursor: pointer;
    display: grid;
    align-content: center;
    height: 100%;
    list-style: none;
    position: relative;
    width: auto;

    // Dropdown Arrow for menu items with sub pages
    &-has-children > a::after {
      $size: 7px;
      $half-size: $size / 2;

      content: "";
      border-bottom: 2px solid white;
      border-right: 2px solid white;
      display: inline-block;
      height: $size;
      width: $size;
      margin: 0 3px;
      transform: rotate(0.125turn) translateY(-$half-size);
    }

    &.current-menu-item::before,
    &.current-menu-ancestor::before {
      content: "";
      background: $gradient-active-top-menu;
      border-radius: 0 0 5px 5px;
      display: block;
      height: 6px;
      position: absolute;
      width: 100%;
    }

    > a {
      color: inherit;
      display: block;
      margin: auto;
      padding: 15px;
      text-decoration: none;
      width: auto;
    }

    &.current-menu-item > a,
    &.current-menu-ancestor > a {
      @include text-gradient-active-top-menu();
    }

    > a:hover {
      @include text-gradient-active-top-menu();
    }

    // Upgrade buttons
    &.UpgradeButton > a {
      border-radius: 10px 10px 0 10px;
      transition: all 0.3s ease-out;
    }

    &.UpgradeButton-monthly_partner > a {
      background: $gradient-promotion1;
    }

    &.UpgradeButton-yearly_partner > a {
      background: $gradient-promotion2;
    }

    &.UpgradeButton-lifetime_partner > a {
      background: $gradient-promotion2;
    }

    &.UpgradeButton-coaching > a {
      background: $gradient-promotion2;
    }

    &.UpgradeButton > a:hover {
      // #HACK: undo text gradient shenanigans
      -webkit-background-clip: unset;
      // #HACK: undo text gradient shenanigans
      -webkit-text-fill-color: unset;
      transform: translateY(-3px);
    }
  }
}
