// Dropdown container
.hd-Submenu {
  background: $color-new-black;
  position: absolute;

  // Animation properties
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.2s ease-in-out;
  z-index: z("hd-Submenu");
}

// Show dropdown on hover
.hd-Menu_Item:hover > .hd-Submenu {
  opacity: 1;
  overflow: unset;
  max-height: 99999px;
  transform: translateY(60px);
}

.hd-Submenu_Item {
  color: white;

  &:hover {
    @include text-gradient-active-top-menu();
  }
}

.hd-Submenu_Item_Link {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
  white-space: nowrap;
}

.hd-Submenu_Item-current {
  @include text-gradient-active-top-menu();
}
