.hd-Header {
  background: $color-new-black;
  box-shadow: $shadow-shadow1;
  display: grid;
  height: $hd-Header__height;
  padding: 0 responsive(20px, 50px, breakpoint("lg")) 0 responsive(20px, 30px, breakpoint("lg"));
  user-select: none;
  z-index: z("hd-Header");

  // Grid properties
  align-items: center;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
