.hd-HeaderNav {
  display: flex;
  margin: 0;
  padding: 0;
}

.hd-HeaderNav > .menu-item {
  list-style: none;
  width: auto;
  color: white;
  cursor: pointer;

  &:hover {
    color: $color-light-blue;
  }
  
  &.current-menu-item, &.current-menu-ancestor {
    color: $color-light-blue;
  }

  > a {
    color: inherit;
    display: block;
    padding: 15px;
    width: auto;
    text-decoration: none;
  }

  // Dropdown Arrow for menu items with sub pages
  &-has-children > a::after {
    $size: 7px;
    $half-size: $size / 2;
    content: "";
    height: $size;
    width: $size;
    margin: 0 3px;
    display: inline-block;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(0.125turn) translateY(-$half-size);
  }
}