// Dropdown container
.sub-menu {
  background: $color-new-black;
  position: absolute;
  
  // Animation properties
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.2s ease-in-out;
}

// Show dropdown on hover
.menu-item:hover > .sub-menu {
  opacity: 1;
  transform: none;
}

.sub-menu > .menu-item {
  color: white;

  &:hover {
    color: $color-light-blue;
  }
  
  a {
    color: inherit;
    display: block;
    padding: 15px;
    text-decoration: none;
  }
}

.sub-menu > .current-menu-item {
  color: $color-light-blue;
}