.hd-HeaderLogo {
  height: 36px;
  width: 40px;

  @include media("lg") {
    display: none;
  }
}

.hd-HeaderLogo-desktop {
  display: none;

  @include media("lg") {
    display: inline-block;
    height: 37px;
    width: 208px;
  }
}
