.ldap-ActionPlan_Inner {
  background: $color-ld-island;
  border-radius: 0 0 $island-border-radius $island-border-radius;
  display: grid;
  padding: $lesson-island-padding;
  position: relative;
  row-gap: 30px;
}

.ldap-ActionPlan_Title {
  font-size: $font-size-title;
  font-weight: bold;
  display: block;
  border-radius: $island-border-radius;
  margin-left: 0 - $island-top-bar-oversize;
  padding: 15px 15px 15px 35px;
  width: calc(100% + (2 * #{$island-top-bar-oversize}));

  &-black {
    background: $color-textbox-header-black;
  }

  &-shiny-purple {
    background: $gradient-shiny-dark-blue;
  }
}
