.ldfaq-FAQ {
  //
}

.ldfaq-FAQ_Title {
  font-size: $font-size-title;
  font-weight: bold;
  display: block;
  border-radius: $island-border-radius;
  margin-left: 0 - $island-top-bar-oversize;
  padding: 15px 15px 15px 35px;
  width: calc(100% + (2 * #{$island-top-bar-oversize}));

  &-black {
    background: $color-textbox-header-black;
  }

  &-shiny-purple {
    background: $gradient-shiny-dark-blue;
  }
}

.ldfaq-FAQ_List {
  background: $color-ld-island;
  border-radius: 0 0 $island-border-radius $island-border-radius;
  display: grid;
  padding: $lesson-island-padding;
  padding-top: 10px;
}

.ldfaq-FAQ_Item {
  border-bottom: 1px solid $color-light-charcoal;

  &:first-child {
    border-radius: $island-border-radius $island-border-radius 0 0;
  }

  &:last-child {
    border-radius: 0 0 $island-border-radius $island-border-radius;
    border-bottom: none;
  }

  &[open] {
    background: $color-new-black;
  }
}

.ldfaq-FAQ_Question {
  align-items: center;
  border-bottom: 1px solid $color-light-charcoal;
  cursor: pointer;
  display: grid;
  font-size: $island-font-size-h2;
  grid-template-columns: auto 1fr auto;
  outline: none;
  padding: 15px;
}

.ldfaq-FAQ_Answer {
  box-sizing: border-box;
  display: inline-block;
  font-size: $island-font-size-body;
  padding: 15px 62px 15px 35px;
}

.ldfaq-FAQ_Question_Plus {
  display: initial;
}

.ldfaq-FAQ_Item[open] .ldfaq-FAQ_Question_Plus {
  display: none;
}

.ldfaq-FAQ_Question_Minus {
  display: none;
}

.ldfaq-FAQ_Item[open] .ldfaq-FAQ_Question_Minus {
  display: initial;
}
