.ldfaq-FAQ {
  background: transparentize($color: $color-textbox-black, $amount: 0.15);
  border-radius: $island-border-radius;
  display: grid;
  padding: $island-padding;
  position: relative;
  row-gap: 15px;

  // Top colorful bar
  &::before {
    $oversize: 10px;

    content: "";
    border-radius: $island-border-radius;
    display: block;
    height: $island-top-bar-height;
    left: 0 - $oversize;
    position: absolute;
    top: 0;
    width: calc(100% + (2 * #{$oversize}));
  }

  &-black::before {
    background: $color-textbox-header-black;
  }

  &-shiny-purple::before {
    background: $gradient-shiny-purple;
  }
}

.ldfaq-FAQ_Title {
  font-size: $island-font-size-h1;
  font-weight: bold;
}

.ldfaq-FAQ_List {
  border-radius: $island-border-radius;
}

.ldfaq-FAQ_Item {
  border-bottom: 1px solid $color-light-charcoal;

  &:first-child {
    border-radius: $island-border-radius $island-border-radius 0 0;
  }

  &:last-child {
    border-radius: 0 0 $island-border-radius $island-border-radius;
    border-bottom: none;
  }

  &[open] {
    background: $color-new-black;
  }
}

.ldfaq-FAQ_Question {
  align-items: center;
  border-bottom: 1px solid $color-light-charcoal;
  display: grid;
  font-size: $island-font-size-h2;
  grid-template-columns: auto 1fr auto;
  outline: none;
  padding: 15px;
}

.ldfaq-FAQ_Answer {
  box-sizing: border-box;
  display: inline-block;
  font-size: $island-font-size-body;
  padding: 15px 62px 15px 15px;
}

.ldfaq-FAQ_Question_Plus {
  display: initial;
}

.ldfaq-FAQ_Item[open] .ldfaq-FAQ_Question_Plus {
  display: none;
}

.ldfaq-FAQ_Question_Minus {
  display: none;
}

.ldfaq-FAQ_Item[open] .ldfaq-FAQ_Question_Minus {
  display: initial;
}
