.ldnv-Lesson {
  opacity: 0.5;
}

.ldnv-Lesson-current,
.ldnv-Lesson:hover {
  opacity: 1;
}

.ldnv-Lesson-complete {
  position: relative;

  &::after {
    content: "";
    background: $gradient-lesson-complete;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
  }
}

.ldnv-Lesson_Link {
  color: white;
  cursor: pointer;
  display: block;
  font-size: $font-size-body-small;
  margin-left: 27px;
  padding: 10px 10px 10px 27px;
  text-decoration: none;
}

.ldnv-Lesson-current .ldnv-Lesson_Link {
  background: $color-new-light-grey;
  border-radius: 10px 0 0 10px;
}

.ldnv-Lesson_Number {
  color: $color-light-blue;
}
