.ldsb-Sidebar {
  $width: 271px;

  background: $color-new-black;
  overflow: hidden auto;
  user-select: none;
  width: $width;
  z-index: z("ldsb-Sidebar");

  &::-webkit-scrollbar {
    $width: 6px;

    width: $width;

    &-thumb {
      background-color: transparentize($color: $color-white, $amount: 0.8);
      border-radius: $width / 2;
    }
  }
}
