.ldsb-Sidebar {
  background: $color-new-black;
  height: 100vh;
  overflow: hidden scroll;
  padding-top: 27px;
  position: sticky;
  top: 0;
  transition: all 0.3s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 0;
  z-index: z("ldsb-Sidebar");

  &::-webkit-scrollbar {
    display: none;
  }
}

.ldsb-Sidebar-active {
  overflow: scroll;
  white-space: initial;
  width: $ldsb-Sidebar__width;
}

@include media("ld-sidebar-open") {
  .ldsb-Sidebar {
    overflow: scroll;
    white-space: initial;
    width: $ldsb-Sidebar__width;
  }
}
