.lg-Background-shapes {
  height: 100%;
  min-height: calc(100vh - #{$ft-Footer__height});
  display: grid;
  background-size: cover !important;
  background-attachment: fixed !important;
  justify-items: center;
  align-items: center;
}

.lg-Main {
  width: responsive(320px, 500px, 320px, 500px);
  height: responsive(320px, 500px, 320px, 500px);
  background: rgba(15, 19, 44, 0.5);
  border: 2px solid $color-white;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: center;
  // padding: 100px 115px;
}

.lg-Logo {
  margin-bottom: responsive(5px, 15px, 320px, 500px);
  width: responsive(50px, 73px, 320px, 500px);
}

.lg-LoginWrapper {
  //
}

.lg-LoginForm {
  //
}

.lg-Body {
  //
}

.lg-Fields {
  max-width: responsive(200px, 270px, 320px, 500px);
}

.lg-Field {
  display: inline-block;
  width: 100%;

  &-username {
    margin-bottom: responsive(5px, 15px, 320px, 500px);
  }

  &-password {
    margin-bottom: responsive(5px, 15px, 320px, 500px);
  }

  &-remember {
    display: none;
  }
}

.lg-Label {
  display: none;
}

.lg-Error {
  font-size: responsive(10px, 12px, 320px, 500px);
  color: $color-red;
  background: $color-offwhite-grey;
  border-left: 5px solid $color-red;
  padding: responsive(3px, 15px, 320px, 500px);
  margin-top: responsive(2px, 5px, 320px, 500px);
}

.lg-InputContainer {
  //
}

.lg-Input {
  padding: responsive(3px, 15px, 320px, 500px);
  border: 3px solid $color-highlight-blue;
  border-radius: responsive(4px, 10px, 320px, 500px);
  width: 100%;
  color: $color-light-charcoal;
}

.lg-Footer {
  max-width: 270px;
}

.lg-Submit {
  margin-bottom: 5px;
  width: 100%;

  @extend .bt-Button;
  @extend .bt-Button-blue;
}

.lg-Links {
  display: grid;
  width: 100%;
  max-width: responsive(150px, 250px, 320px, 500px);

  @include media("sm") {
    grid-template-columns: 1fr 1fr;
  }
}

.lg-Link {
  color: $color-offwhite-grey;
  text-align: center;
}

@include media("sm") {
  * + .lg-Link {
    position: relative;

    &::before {
      background: $color-offwhite-grey;
      content: "";
      display: inline-block;
      height: 15px;
      position: absolute;
      top: 5px;
      left: 0;
      width: 1px;
    }
  }
}
