.mf-MisForm {
  display: grid;
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mf-Body {
  //
}

.mf-Label {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

.mf-Fields {
  padding-left: 15px;

  &-saved {
    border-left: 3px solid $color-green;
  }

  &-error {
    border-left: 3px solid $color-red;
  }
}

.mf-Input {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  width: 170px;
  max-width: 100%;
  padding: 15px;
}

.mf-Submit {
  border-radius: 10px;
  border: none;
  color: $color-white;
  font-size: 16px;
  padding: 15px 30px;

  @extend .bt-Button-red;
}

.mf-Saved,
.mf-Error {
  display: block;
  font-size: 14px;
  margin-top: 15px;
  font-style: italic;
}

.mf-Error {
  color: $color-red;
}
