.mn-Submenu {
  overflow: hidden;
  padding-left: 35px;
  padding-bottom: 15px;
  display: none;

  &-active {
    display: block;
  }
}

.mn-Submenu_Item-current {
  @include text-gradient-active-top-menu();
}

.mn-Submenu_Item_Link {
  color: $color-white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 7px 0;

  &:hover {
    @include text-gradient-active-top-menu();
  }
}
