.mn-MobileNav {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  user-select: none;
  width: 0;
  z-index: z("mn-MobileNav");

  &.is-Active {
    width: 100%;
  }

  @include media("lg") {
    display: none !important;
  }
}

.mn-MobileNav_Overlay {
  background: transparentize($color: $color-new-black, $amount: 0.2);
  height: 100%;
  width: 100%;
}

.mn-MobileNav_Drawer {
  $width: 250px;

  background: $color-new-black;
  border-right: 1px solid $color-new-dark-grey;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: $width;
  position: absolute;
  top: 0;
  left: -$width;

  // Grid
  display: grid;
  align-content: start;
}

.mn-MobileNav.is-Active .mn-MobileNav_Drawer {
  left: 0;
}

.mn-MobileNav_Drawer_Top {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.mn-MobileNav_Close {
  // Local variables
  $size: 25px;
  $width: 3px;

  cursor: pointer;
  display: inline-block;
  position: relative;
  width: $size;
  height: $size;

  &::before,
  &::after {
    content: "";
    background-color: $color-offwhite-blue;
    border-radius: $width / 2;
    height: $size;
    left: ($size - $width) / 2;
    position: absolute;
    width: $width;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
