.mpd-Details {
  background: $color-textbox-black;
  border-radius: 10px;
  padding: 30px responsive(30px, 50px);
}

.mpd-FormWrapper {
  //
}

.mpd-Form {
  //
}

.mpd-Body {
  //
}

.mpd-Fields {
  display: grid;
  row-gap: 15px;
  margin-bottom: responsive(10px, 20px);

  @include media("sm") {
    row-gap: 5px;
  }
}

.mpd-Field {
  display: grid;
  align-items: center;
  grid-gap: 5px;

  @include media("sm") {
    grid-template-columns: responsive(80px, 120px) 1fr;
  }
}

.mpd-Field-consent {
  justify-items: start;
  font-size: 12px;
  grid-template-columns: unset;
  margin-top: responsive(10px, 25px);
}

.mpd-Label {
  //
}

.mpd-SubLabel {
  display: none;
}

.mpd-Description {
  //
}

.mpd-InputContainer {
  //
}

.mpd-InputContainer-name {
  display: grid;
  grid-gap: 5px;

  @include media("sm") {
    grid-template-columns: 1fr 1fr;
  }
}

.mpd-InputContainer-first-name {
  //
}

.mpd-InputContainer-last-name {
  //
}

.mpd-InputContainer-email {
  //
}

.mpd-InputContainer-website {
  //
}

.mpd-Input {
  border-radius: 10px;
  border: none;
  padding: 5px responsive(10px, 15px);
  width: 100%;
}

.mpd-Field-consent .mpd-Input {
  width: auto;
}

.mpd-Input-first-name {
  //
}

.mpd-Input-last-name {
  //
}

.mpd-Input-email {
  //
}

.mpd-Input-website {
  //
}

.mpd-Error {
  background: darken($color: $color-textbox-black, $amount: 3%);
  border-left: $color-red solid 1px;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 5px 5px 10px;
}

.mpd-ErrorMessage {
  background: darken($color: $color-textbox-black, $amount: 3%);
  border-left: $color-red solid 1px;
  font-size: 12px;
  grid-column: 1 / -1;
  margin: 5px 0;
  padding: 5px 5px 5px 10px;
}

.mpd-Footer {
  display: grid;
  justify-items: center;
  align-items: center;
}

.mpd-Submit {
  @extend .bt-Button;
  @extend .bt-Button-blue;
}
