.mpp-Password {
  background: $color-textbox-black;
  border-radius: 10px;
  padding: 30px responsive(30px, 50px);
}

.mpp-Form {
  display: grid;
  grid-gap: 15px;
}

.mpp-Label {
  display: none;
}

.mpp-InputContainer {
  display: grid;
  grid-gap: 5px;

  @include media("sm") {
    grid-template-columns: 1fr 1fr;
  }
}

.mpp-InputContainer-new,
.mpp-InputContainer-confirm {
  display: grid;
  grid-gap: 5px;
}

.mpp-SubLabel {
  grid-row: 1 / span 1;
}

.mpp-Input {
  border: none;
  border-radius: 10px;
  grid-row: 2 / span 1;
  padding: 5px responsive(10px, 15px);
}

.mpp-Footer {
  display: grid;
  justify-items: center;
}

.mpp-Submit {
  @extend .bt-Button;
  @extend .bt-Button-blue;
}
