.rm-ReportMain {
  padding: 20px;
}

.rm-ReportMain_Container {
  padding: responsive(15px, 30px) responsive(25px, 50px) responsive(25px, 50px) responsive(25px, 50px);
  border-radius: 10px;
  background: $color-textbox-black;
}
