.rm-ReportMain {
  padding: 20px;
  max-width: 1440px;
  margin: auto;

  &-campaigns {
    max-width: 1000px;
  }

  &-referrals {
    max-width: 1200px;
  }

  &-earnings {
    max-width: 1000px;
  }
}

.rm-ReportMain_Title {
  margin-bottom: 30px;
}

.rm-ReportMain_Container {
  padding: responsive(15px, 30px) responsive(25px, 50px) responsive(25px, 50px) responsive(25px, 50px);
  border-radius: 10px;
  background: $color-textbox-black;
}
