.ti-TextIsland {
  background: $color-textbox-black;
  border-radius: $island-border-radius;
  padding: $island-padding;
  position: relative;

  // Top colorful bar
  &::before {
    content: "";
    background: $color-textbox-header-black;
    display: block;
    border-radius: $island-border-radius;
    position: absolute;
    top: 0;
    left: 0 - $island-top-bar-oversize;
    height: $island-top-bar-height;
    width: calc(100% + (2 * #{$island-top-bar-oversize}));
  }
}
