.ms-MySponsor {
  margin: auto;
  max-width: 970px;
  padding: 20px;

  // Grid
  display: grid;
  align-items: stretch;
  grid-gap: responsive(10px, 15px);

  @include media("sm") {
    grid-template-columns: 26fr 35fr;
  }
}

.ms-MySponsor_AvatarIsland {
  align-content: center;
  height: 100%;
  background: $gradient-shiny-light-blue;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  padding: responsive(20px, 50px);
  row-gap: 30px;

  @include media("sm") {
    max-width: 390px;
  }
}

.ms-MySponsor_AvatarWrapper {
  $size: responsive(200px, 250px);

  width: $size;
  height: $size;
  border: 2px solid $color-light-blue;
  border-radius: 50%;
  overflow: hidden;

  .avatar {
    width: 100%;
    height: 100%;
  }
}

.ms-MySponsor_DetailsIsland {
  align-content: start;
  background: $color-textbox-black;
  border-radius: 10px;
  display: grid;
  max-width: 525px;
  padding: responsive(20px, 50px);
  row-gap: responsive(15px, 20px);
}

.ms-MySponsor_Title {
  font-size: 24px;
  font-weight: normal;
  grid-column: 1 / -1;
  text-align: center;
}

.ms-MySponsor_Details {
  column-gap: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 5px;
}

.ms-MySponsor_Details_Label {
  //
}

.ms-MySponsor_Details_Value {
  background: $color-input;
  border-radius: 10px;
  color: $color-light-charcoal;
  overflow: auto;
  padding: 5px 15px;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ms-MySponsor_Message {
  background: $color-textbox-black;
  border-radius: 10px;
  grid-column: 1 / -1;
  padding: responsive(20px, 50px);
  text-align: center;
}
