@font-face {
  font-family: Geomanist;
  src:
    url("../fonts/geomanist-regular-webfont.ttf"),
    url("../fonts/geomanist-regular-webfont.woff"),
    url("../fonts/geomanist-regular-webfont.woff2");
}

@font-face {
  font-family: Geomanist;
  font-weight: bold;
  src:
    url("../fonts/geomanist-bold-webfont.ttf"),
    url("../fonts/geomanist-bold-webfont.woff"),
    url("../fonts/geomanist-bold-webfont.woff2");
}

@font-face {
  font-family: Geomanist;
  font-style: italic;
  src:
    url("../fonts/geomanist-italic-webfont.ttf"),
    url("../fonts/geomanist-italic-webfont.woff"),
    url("../fonts/geomanist-italic-webfont.woff2");
}

@font-face {
  font-family: Geomanist;
  font-weight: bold;
  font-style: italic;
  src:
    url("../fonts/geomanist-bold-italic-webfont.ttf"),
    url("../fonts/geomanist-bold-italic-webfont.woff"),
    url("../fonts/geomanist-bold-italic-webfont.woff2");
}
