.ldm-Main {
  $spacing-min: 15px;
  $spacing-max: 40px;

  align-items: start;
  display: grid;
  column-gap: responsive($spacing-min, $spacing-max);
  row-gap: responsive($spacing-min, $spacing-max);
  padding: responsive($spacing-min, $spacing-max);

  @include media("banners-show") {
    grid-template-columns: 3fr 1fr;
  }
}

.ldm-Freeform {
  $spacing-min: 15px;
  $spacing-max: 40px;

  display: grid;
  grid-gap: responsive($spacing-min, $spacing-max);

  .ti-TextIsland {
    width: 100%;
    max-width: 100%;
  }
}
